*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100%;
    height: 100vh;
    background: #000;
}

section{
    width: 30%;
    height: auto;
    background: #333;
    margin-left: 37.5%;
    margin-top: 25vh;
    float: left; /* descolar do main */
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000000;
    padding: 1%;
}
section h2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    margin-left: 4vh;
}
section input{
    width: 100%;
    height: 35px;
    margin-top: 2vh;
    border: 0;
    border-radius: 9px;
    text-indent: 5%;
    outline: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.85rem;
    color: #333;
}
section button{
    width: 100%;
    height: 35px;
    margin-top: 2vh;
    border: 0;
    border-radius: 9px;
    text-indent: 5%;
    outline: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 0.85rem;
    color: #fff;
    background: #3c3c3c;
    font-weight: bold;
    text-transform: uppercase;
}
#conta{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(146, 146, 255);
    font-size: 0.85rem;
    margin-top: 5vh;
}
#conta2{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(146, 146, 255);
    margin-left: 43vh;
    font-size: 0.85rem;
    margin-top: 5vh;
}